# Environment files
*.env

# Data files
data/
*.csv
*.pt
*.pkl
*.npy

# Python cache
__pycache__/

# Logs
*.log
nohup.out
run.pid
**/first_run/
**/first_run/
**/w_EF

# checkpoints
*.ipynb_checkpoints/
*.pth
**/checkpoints/
/checkpoint/
scripts/checkpoint

# Virtual environments
.venv/
env/
venv/

# misc
embedding_count.ipynb
/misc_not_for_push/