# Environment files
*.env

# Data files
data/
*.csv
*.pt
*.pkl
*.npy

# Python cache
__pycache__/

# Logs
*.log
nohup.out
/baseline/tabpfn_mlp/first_run/
/baseline/tabpfn/default_param/first_run/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/