# Environment files
*.env

# Data files
data/
*.csv
*.pt
*.pkl
*.npy

# Python cache
__pycache__/

# Logs
*.log
nohup.out

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/